<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanhu.generator.mapper.FileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hanhu.generator.entity.File">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="trueName" property="trueName" />
        <result column="fileSize" property="fileSize" />
        <result column="euploadTime" property="euploadTime" />
        <result column="fileType" property="fileType" />
        <result column="uploadUser" property="uploadUser" />
        <result column="isExist" property="exist" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, trueName, fileSize, euploadTime, fileType, uploadUser, isExist
    </sql>

</mapper>
